<!DOCTYPE html>
<html>
	<head>
		<title> isKool -- Login Shell</title>
		<link rel="stylesheet" type="text/css" href="fontawesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
        <link href="/open-iconic/font/css/open-iconic.css" rel="stylesheet">
        <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">


		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
	</head>
	<body style="background-color:#f0f0f5;">

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		    	<ul>
		    		<h3><i class="fa fa-university fa-lg"></i> iSkool</h3>
		    	</ul>
		  </div>
		</nav>
		<div class="container">
		<div class = "row">
		<div class="col-md-3"></div>
		<div class = "col-md-6" align="center">
	   <div class="jumbotron">
         <div ng-app="">
        
        <h2 class="form-signin-heading">Login Shell <i class = "fa fa-terminal fal-lg"></i></h2>
        <h3>Hello <span ng-bind="uname"></span></h3>
        
        <div class="form-group">
        <span class="fa fa-user"></span><label>Email Address</label>
        <input type="email" ng-model = "uname" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        </div>
        

        <div class="form-group">
        <label for="inputPassword" class="sr-only">Password </label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>
        
        <div class="checkbox">
           <label class="c-input c-checkbox">
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>



        <button class="btn btn-lg btn-primary btn-block" type="button">Log in</button>

        
        </div>
</div>
</div>
<div class="col-md-3"></div>
</div>

    </div> <!-- /container -->
	<footer>
		<div class="panel panel-success">Powered by</div>
	</footer>
	 <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p align="left">
                     <img src="img/restfulabs.jpg" class="img-circle" alt="RESTful Labs" width="60" height="60"> RESTful Labs<br>
                         <a class="fa fa-facebook fa-lg" href="https://www.facebook.com/restlabs" target="_blank"></a> <a class="fa fa-twitter fa-lg"></a> <a class="fa fa-google-plus fa-lg"></a> <a href="mailto:labs.restful@gmail.com" class="fa fa-envelope-o fa-lg"></a>                  
                </div>
                <div class="col-md-6">
                    <p align="right" class="serif">
                       <i class="fa fa-copyright"></i> Copyright Falanoschool.com 
                    </p>
                    
                </div>
            </div>
        </div>
	</body>
</html>